.posttext {
	display: flex;
	list-style: none;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	height: 305px;
	padding: 0px;
}

.posttexttop {
	width: 586px;;
	padding: 0px;
	margin-top: 0px;
	margin: 0px;
	height: 30px;
	text-align: left;
	font-size: 22px;
	align-items: center;
	list-style: none;
	border-bottom: 1px dashed #ffa500;
	line-height: 30px;
	overflow: hidden;

}

.posttextcontent {
	height: 120px;
	width: 586px;
	font-size: 15px;
	align-items: top;
	text-indent: 50px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px dashed #ffa500;

}

.postlist {
	margin: 0px;
	padding: 0px;
}

.postdate {
	float: right;
	border-left: 1px dashed #ffa500;
	text-indent: 0px;
	padding-left: 10px;
	padding-right: 10px;
 }
