---
eleventyNavigation:
key: index
order: 1
numberOfLatestPostsToShow: 2
---

<!DOCTYPE html>
<html>

<head>
  <link href="css/index.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="header">
      <ul class="headertop">
        <p>nav</p>
        <li class="headertoptext">
          <b>trademarkhell.net // trademark's special hell</b>
        </li>
      </ul>
      <ul class="header-flex">
        <ul class="nav">
          <li class="navitem">
            <p>home</p>
          </li>
          <li class="navitem">
            <p>blog</p>
          </li>
          <li class="navitem">
            <p>tech</p>
          </li>
          <li class="navitem">
            <p>music</p>
          </li>
          <li class="navitem">
            <p>anime</p>
          </li>
          <li class="navitem">
            <p>soon</p>
          </li>
          <li class="navitem">
            <p>soon</p>
          </li>
          <li class="navitem">
            <p>soon</p>
          </li>
        </ul>
        <li class="banner"></li>
      </ul>
    </div>
    <div class="content">
      <ul class="maintext">
        <li class="maintexttop">
          <p>what's this?</p>
        </li>
        <li class="maintextcontent">
          <p>

            Welcome to trademarkhell.net, the designated dumping ground for my
            ramblings, thoughts, and rambling thoughts. I mostly just use this
            site to publish my pseudo-essays on various topoics, predominantly
            relating to my interests.
          </p>
          <p>
            I unfortunately haven't yet thought of a pretentious way to
            describe my site as a internet utopia which will change the world,
            so the best I can do is a philisophical quote generator, which
            I'll attach below. Thank me for my boundless wisdom later.
          </p>
          <span class="quotebg">
            <marquee>"holy shit i just got quoted...."</marquee>
          </span>
          <p>
            Anyways, click around the site if you want, there's probably cool
            stuff (if page long essays about useless things are considered
            cool nowadays)
          </p>
        </li>
      </ul>
      <ul class="whatsnew">
        <li class="maintexttop">
          <p>what's new?</p>
        </li>
        <li class="wnewcontent">
          <p>
            {% set postsCount = collections.posts | length %} {% set
            latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
            {% set postslist = collections.posts | head(-1 *
            numberOfLatestPostsToShow) %} {% set postslistCounter = postsCount
            %} {% include "postslist.njk" %} {% set morePosts = postsCount -
            numberOfLatestPostsToShow %} {% if morePosts > 0 %}
          </p>

          {% endif %}
        </li>
      </ul>
      <ul class="bottom">
        <ul class="bottomsection">
          <li class="maintexttop">something to say?</li>
          <li class="botsecitem">
            <iframe src="https://tmtm.atabook.org/" height="100%" width="100%" frameborder="no"
              scrolling="yes"></iframe>
          </li>
        </ul>
        <ul class="bottomsection">
          <ul class="button">
            <li class="maintexttop">
              <p>shill my site..</p>
            </li>
            <li class="bottext">
              <a href="https://trademark.nekoweb.org/" target="_blank">
                <img src="https://trademark.nekoweb.org/tmsspecialhell.png" width="88" length="33px" />
                </a>
            </li>
          </ul>
          <ul class="button">
            <li class="maintexttop">
              <p>shill your site..</p>
            </li>
            <li class="bottext">
              <p>
                <a href="https://fujoshi.nekoweb.org/" target="_blank">
                  <img src="https://fujoshi.nekoweb.org/imgs/neetretreat1.gif" width="88px" length="31px" />
                </a>
                <a href="https://housepen.nekoweb.org/" target="_blank">
                  <img src="https://file.garden/ZjYZ6HBkUxBjUnYy/housepen.gif" width="88px" length="31px" />
                </a>
                <a href="https://frequency-modulator.nekoweb.org/">
                  <img src="https://frequency-modulator.nekoweb.org/fm.jpg" />
                </a>
                <a href="https://rice.nekoweb.org/" target="_blank">
                  <img src="https://rice.nekoweb.org/kamabokogonpachiro.gif" />
                </a>
                <img width="88" height="31" alt="vocaloid" src="https://trademarkhell.net/vocaloid.png" />
                <img width="88" height="31" alt="wmp the goat"
                  src="https://trademarkhell.net/windows_media_player.jpg" />
                <img width="88" height="31" alt="how i be rn" src="https://trademarkhell.net/lovelyday.png" />
                <img width="88" height="31" alt="vivi" src="https://trademarkhell.net/vivi.jpg" />
                <img width="88" height="31" alt="mariser" src="https://trademarkhell.net/marisa(1).png" />
                <img width="88" height="31" alt="the constant" src="https://trademarkhell.net/constant.png" />
                <img width="88" height="31" alt="nhk" src="https://trademarkhell.net/nhk(1).png" />
                <img width="88" height="31" alt="konater" src="https://trademarkhell.net/z3r0s.jpg" />
              </p>
            </li>
          </ul>
        </ul>
      </ul>
    </div>
    <div class="footer">
      <p>Hosted on Nekoweb // Powered by 11ty // All Rights Reserved</p>
    </div>
    <div class="sidebar">
      <ul class="sidebarflex">
        <ul class="status">
          <li class="maintexttop">
            <p>what's up?</p>
          </li>
          <li class="stattext">
            <div id="statuscafe">
              <div id="statuscafe-username"></div>
              <div id="statuscafe-content"></div>
            </div>
            <script src="https://status.cafe/current-status.js?name=trademark" defer></script>
          </li>
        </ul>
        <ul class="playing">
          <li id="listeningStatus">
          </li>
          <li id="listening">
          </li>
        </ul>
        <ul class="stats">
          <li class="maintexttop">
            <p>NekoStats</p>
          </li>
          <li class="statstext"></li>
        </ul>
        <ul class="playing">
          <li class="maintexttop">
            <p>internet stuff</p>
          </li>
          <li class="playingtext">webrings</li>
        </ul>
        <ul class="square">
          <li class="maintexttop">
            <p>sponsors</p>
          </li>
          <li class="squaretext">
            <iframe width="200" height="170" style="border:none" src="https://dimden.neocities.org/navlink/"
              name="neolink"></iframe>
          </li>
        </ul>
        <ul class="square">
          <li class="maintexttop">
            <p>not sponsors</p>
          </li>
          <li class="squaretext"></li>
        </ul>
        <ul class="follow">
          <li class="followtext"></li>
        </ul>
      </ul>
    </div>
  </div>
  <script src="scripts/playingsong.js"></script>
  <script src="scripts/nekostats.js"></script>

</body>
<style>
  body {
    margin: auto;
    display: block;
    width: 95%;
    height: 95%;
    background-image: url("https://trademarkhell.net/checker25.png");
    animation: bgScroll 35s linear infinite;
  }
</style>

</html>