---
# Metadata comes from _data/metadata.js
permalink: /feed/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>{{ metadata.title }}</title>
		<description>{{ metadata.description }}</description>
		<link>{{ metadata.url | addPathPrefixToFullUrl }}</link>
		<lastBuildDate>{{ collections.posts | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
		<atom:link href="{{ permalink | htmlBaseUrl(metadata.url) }}" rel="self" type="application/rss+xml"/>
		<language>{{ metadata.language }}</language>
		<managingEditor>{{ metadata.author.email }} ({{ metadata.author.name }})</managingEditor>
		<webMaster>{{ metadata.author.email }} ({{ metadata.author.name }})</webMaster>
		
		{%- for post in collections.posts | reverse %}
		<item>
			<title>{{ post.data.title }}</title>
			<link>{{ post.url | htmlBaseUrl(metadata.url) }}</link>
			<pubDate>{{ post.date | dateToRfc822 }}</pubDate>
			<guid isPermaLink="true">{{ post.url | htmlBaseUrl(metadata.url) }}</guid>
			<description><![CDATA[{{ post.templateContent | transformWithHtmlBase(post.url | htmlBaseUrl(metadata.url), post.url) }}]]></description>
		</item>
		{%- endfor %}
	</channel>
</rss>