---
eleventyNavigation:
key: index
order: 1
numberOfLatestPostsToShow: 2
---

<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="/img/favico.png">
  <link rel="stylesheet" href="https://darkosparko.nekoweb.org/webrings/neko-tag/neko-tag-people.css">
  <link rel="stylesheet" href="https://hotel.nekoweb.org/hotel-onionring.css" />
  <link href="css/index.css" rel="stylesheet" />
  <script>
    const username = "trademark"; // Your username

    const getStats = async () => {
      const request = await fetch(`https://nekoweb.org/api/site/info/${username}`);
      const json = await request.json();

      const updated = new Date(json.updated_at).toLocaleDateString(); // Formats Last Updated text
      const created = new Date(json.created_at).toLocaleDateString(); // Formats Creation Date text

      document.getElementById("created").innerHTML = `<em>Created</em>: ${created}`;
      document.getElementById("updated").innerHTML = `<em>Updated</em>: ${updated}`;
      document.getElementById("visitors").innerHTML = `<em>Visits</em>: ${json.views}`;
      document.getElementById("followers").innerHTML = `<em>Followers</em>: ${json.followers}`;
    };
    getStats();

  </script>
  <link href="/css/navbase.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="header">
      <ul class="headertop">
        <p>nav</p>
        <li class="headertoptext">
            <b>trademarkhell.net // {{ title }} </b>
        </li>
      </ul>
      <ul class="header-flex">
        <ul class="nav">
          <li class="navitem">
            <p><a href="/" l>home</a></p>
           </li>
           <li class="navitem">
             <p><a href="/tags/opinion/" l>opinion</a></p>
           </li>
           <li class="navitem">
             <p><a href="/tags/tech/" l>tech</a></p>
           </li>
           <li class="navitem">
             <p><a href="/tags/music/" l>music</a></p>
           </li>
           <li class="navitem">
             <p><a href="/tags/anime/" l>anime</a></p>
           </li>
           <li class="navitem">
             <p><a href="/tags/web/" l>web</a></p>
           </li>
           <li class="navitem">
             <p><a href="/tags/nil/" l>soon</a></p>
           </li>
           <li class="navitem">
             <p><a href="/blog/" l>all</a></p>
           </li>
        </ul>
        <li class="banner">
          <img id="headerimage">
          <script src="/scripts/fetchImage.js"></script>
        </li>
      </ul>
    </div>
    <div class="content">
      {{ content | safe }}
    </div>
    <div class="footer">
      Hosted on Nekoweb // Powered by 11ty // All Rights Reserved
    </div>
    <div class="sidebar">
      <ul class="sidebarflex">
        <ul class="status">
          <li class="maintexttop">
            <p>what's up?</p>
          </li>
          <li class="stattext">
            <div id="statuscafe">
              <div id="statuscafe-username"></div>
              <div id="statuscafe-content"></div>
            </div>
            <script src="https://status.cafe/current-status.js?name=trademark" defer></script>
          </li>
        </ul>
        <ul class="playing">
          <li id="listeningStatus">
          </li>
          <li id="listening">
          </li>
        </ul>
        <ul class="stats">
          <li class="maintexttop">
            <p>NekoStats</p>
          </li>
          <ul class="statstext">
            <div id="created"><em>Created</em>:</div>
            <div id="updated"><em>Updated</em>:</div>
            <div id="visitors"><em>Visits</em>:</div>
            <div id="followers"><em>Followers</em>:</div>

          </ul>
        </ul>
        <ul class="playing">
          <li class="maintexttop">
            <p>shill my site..</p>
          </li>
          <li class="shilltext">
            <a href="https://trademarkhell.net/"><img src="https://trademarkhell.net/tmsspecialhell.png"
              alt="trademarkization company of 2003"></a>
              <textarea cols="8" rows="2" readonly="readonly" onclick="this.setSelectionRange(0, this.value.length) "
              style="background-color: rgb(69, 71, 90); border: 1px solid rgb(49, 50, 68); color: white; height: 30px;">
              &lt;a href="https://trademarkhell.net/"&gt;&lt;img
              src="https://trademarkhell.net/tmsspecialhell.png" alt="trademarkization company of 2003"&gt;&lt;/a&gt;
            </textarea>
              <p>hotlink it, i may change it at some point.. maybe (likely not)</p>      
          </li>
        </ul>
        <ul class="acsquare">
          <li class="maintexttop">
            <p>sponsors</p>
          </li>
          <li class="acsquaretext">
            <iframe width="200" height="200" style="border:none" src="https://dimden.neocities.org/navlink/"
              name="neolink"></iframe>
          </li>
        </ul>
        <ul class="square">
          <li class="maintexttop">
            <p>not sponsors</p>
          </li>
          <li class="squaretext">
            <img width="200px" height="170px" alt="tempshitpost" src="https://piclog.blue/latest.php?id=635"
              margin="auto" />
          </li>
        </ul>
        <ul class="follow">
          <li class="followtext">
            <a href="https://nekoweb.org/follow/trademark" l>follow me!!!</a>

          </li>
        </ul>
      </ul>
    </div>
  </div>
  <script src="/scripts/playingsong.js"></script>
</body>
<style>
  body {
    margin: auto;
    display: block;
    width: 95%;
    height: 95%;
    background-image: url("/img/checker26.png");
    animation: bgScroll 35s linear infinite;
  }
</style>

</html>