---
eleventyNavigation:
key: post

---
<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="/img/favico.png">
  <link href="/css/post.css?v1.3" rel="stylesheet" />
  <link href="/css/reset.css" rel="stylesheet" />
  <script>

    const username = "trademark"; // Your username

    const getStats = async () => {
      const request = await fetch(`https://nekoweb.org/api/site/info/${username}`);
      const json = await request.json();

      const updated = new Date(json.updated_at).toLocaleDateString(); // Formats Last Updated text
      const created = new Date(json.created_at).toLocaleDateString(); // Formats Creation Date text

      document.getElementById("created").innerHTML = `${created} <a>created</a> `;
      document.getElementById("updated").innerHTML = `${updated} <a>updated</a>`;
      document.getElementById("visitors").innerHTML = ` ${json.views} <a>visitors</a>`;
      document.getElementById("followers").innerHTML = ` ${json.followers} <a>followers</a> `;
    };
    getStats();

  </script>

</head>


<body>
  <div class="container">
    <div class="header">
      <div class="titlecard">
        <div class="cardrow"></div>
        <div class="cardrowc"></div>
        <div class="cardrow"></div>
        <div class="cardrowb"></div>
        <div class="titlecardtext">
          <a href="/">
            trademarkhell.net
          </a>
        </div>
      </div>
      <div class="ascii">
        <pre>



                </pre>
      </div>
    </div>
    <div class="main">
      <div class="toptext">
        <div class="backbut"><a href="javascript:history.back()">back</a></div>
        {{title}} <div class="datebox"> {{ page.date | readableDate }}</div>
      </div>
      <div class="maintext">
        {{ content | safe }}
        {%- if collections.posts %}
        {%- set previousPost = collections.posts | getPreviousCollectionItem %}
        {%- set nextPost = collections.posts | getNextCollectionItem %}
        {%- if nextPost or previousPost %}

        {%- endif %}
        {%- endif %}
        <div class="post-metadata">
          {%- for tag in tags | filterTagList %}
          {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          {%- endfor %}

        </div>
      </div>
      <div class="toptext">
        <div class="backbut">
          {%- if previousPost %}<b> <a href="{{ previousPost.url }}">previous</a></b>
          {% endif %}</div>
        article's over, say stuff, if you want
        <div class="nextbut">
          {%- if nextPost %}<b><a href=" {{ nextPost.url }}"> next</a></b>{% endif %}
        </div>
      </div>
      <div id="c_widget"></div>
      <script src="/scripts/comment-widget.js?v=1.1"></script>

      <div class="infocard">
        <p>copyright trademarkhell.net 2024-</p>
      </div>
    </div>
  </div>
  </div>
</body>

</html>