---
eleventyNavigation:
key: post

---

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">  
  <link rel="icon" type="image/x-icon" href="/img/favico.png">
  <link href="css/post.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="header">
      <ul class="headertop">
        <p>nav</p>
        <li class="headertoptext">
          <b>trademarkhell.net // trademark's special hell</b>
        </li>
      </ul>
      <ul class="header-flex">
        <ul class="nav">
          <li class="navitem">
           <p><a href="/" l>home</a></p>
          </li>
          <li class="navitem">
            <p><a href="/tags/opinion/" l>opinion</a></p>
          </li>
          <li class="navitem">
            <p><a href="/tags/tech/" l>tech</a></p>
          </li>
          <li class="navitem">
            <p><a href="/tags/music/" l>music</a></p>
          </li>
          <li class="navitem">
            <p><a href="/tags/anime/" l>anime</a></p>
          </li>
          <li class="navitem">
            <p><a href="/tags/web/" l>web</a></p>
          </li>
          <li class="navitem">
            <p><a href="/tags/nil/" l>soon</a></p>
          </li>
          <li class="navitem">
            <p><a href="/blog/" l>all</a></p>
          </li>
        </ul>
        <li class="banner">
          <img id="headerimage">
          <script src="/scripts/fetchImage.js"></script>
        </li>
      </ul>
    </div>
    <div class="content">
      <ul class="maintext">
        <li class="maintexttop">
          <p> <a href="javascript:history.back()">back</a>
            // {{title}} // {{ page.date | readableDate }} </p>
        </li>
        <ul class="maintextcontent">

          {{ content | safe }}
          {%- if collections.posts %}
          {%- set previousPost = collections.posts | getPreviousCollectionItem %}
          {%- set nextPost = collections.posts | getNextCollectionItem %}
          {%- if nextPost or previousPost %}

          {%- endif %}
          {%- endif %}
          <ul class="post-metadata">
            {%- for tag in tags | filterTagList %}
            {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            {%- endfor %}

          </ul>
          <li class="posttexttop">
            <p>
              {%- if previousPost %}<b>  <a href="{{ previousPost.url }}">previous</a></b>
               //
              {% endif %}
              comments 
               //  
              {%- if nextPost %}<b><a href=" {{ nextPost.url }}"> next</a></b>{% endif %}
            </p>
          </li>
          <div id="c_widget"></div>
          <script src="/scripts/comment-widget.js"></script>
        </ul>
      </ul>

      <div class="footer">
        Hosted on Nekoweb // Powered by 11ty // All Rights Reserved
      </div>


</body>
<style>

  body {
    margin: auto;
    display: block;
    width: 95%;
    height: 95%;
    background-image: url("/img/checker26.png");
  }
  
</style>

</html>